---
http_interactions:
- request:
    method: get
    uri: https://api.apify.com/v2/acts/zuzka~instagram-hashtag-scraper
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      etag:
      - W/"76d2-Q456BpZnrkuC/SM3CS3ltusJ7gc"
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {\n    \"id\": \"reGe1ST3OBgYZSsZJ\",\n    \"userId\":
        \"Zji7Rt6MKGCn6Ae6A\",\n    \"name\": \"instagram-hashtag-scraper\",\n    \"username\":
        \"zuzka\",\n    \"description\": \"Scrape Instagram hashtags the fast and
        easy way. Just add one or more hashtags and the scraper will extract posts,
        images, URLs, comments, likes, users, locations, timestamps, and more. Download
        structured data in JSON, CSV, XML, Excel, and HTML to use in applications,
        reports, and spreadsheets.\",\n    \"restartOnError\": false,\n    \"isPublic\":
        true,\n    \"createdAt\": \"2021-11-16T09:08:08.244Z\",\n    \"modifiedAt\":
        \"2022-12-08T14:24:00.487Z\",\n    \"stats\": {\n      \"totalBuilds\": 129,\n
        \     \"totalRuns\": 190622,\n      \"totalUsers\": 3027,\n      \"totalUsers7Days\":
        120,\n      \"totalUsers30Days\": 459,\n      \"totalUsers90Days\": 1177,\n
        \     \"lastRunStartedAt\": \"2023-01-05T11:10:01.187Z\"\n    },\n    \"versions\":
        [\n      {\n        \"versionNumber\": \"0.0\",\n        \"sourceType\": \"GIT_REPO\",\n
        \       \"envVars\": [],\n        \"sourceFiles\": [\n          {\n            \"name\":
        \"Dockerfile\",\n            \"content\": \"# First, specify the base Docker
        image. You can read more about\\n# the available images at https://sdk.apify.com/docs/guides/docker-images\\n#
        You can also use any other image from Docker Hub.\\nFROM apify/actor-node-puppeteer-chrome:16\\n\\n#
        Second, copy just package.json and package-lock.json since those are the only\\n#
        files that affect \\\"npm install\\\" in the next step, to speed up the build.\\nCOPY
        package*.json ./\\n\\n# Install NPM packages, skip optional and development
        dependencies to\\n# keep the image small. Avoid logging too much and print
        the dependency\\n# tree for debugging\\nRUN npm --quiet set progress=false
        \\\\\\n && npm install --only=prod --no-optional \\\\\\n && echo \\\"Installed
        NPM packages:\\\" \\\\\\n && (npm list --all || true) \\\\\\n && echo \\\"Node.js
        version:\\\" \\\\\\n && node --version \\\\\\n && echo \\\"NPM version:\\\"
        \\\\\\n && npm --version\\n\\n# Next, copy the remaining files and directories
        with the source code.\\n# Since we do this after NPM install, quick build
        will be really fast\\n# for most source file changes.\\nCOPY . ./\\n\\nENV
        APIFY_DISABLE_OUTDATED_WARNING 1\\nENV npm_config_loglevel=silent\\n\\n# Optionally,
        specify how to launch the source code of your actor.\\n# By default, Apify's
        base Docker images define the CMD instruction\\n# that runs the Node.js source
        code using the command specified\\n# in the \\\"scripts.start\\\" section
        of the package.json file.\\n# In short, the instruction looks something like
        this:\\n#\\n# CMD npm start\\n\\n\",\n            \"format\": \"TEXT\"\n          },\n
        \         {\n            \"name\": \"INPUT_SCHEMA.json\",\n            \"content\":
        \"{\\r\\n    \\\"title\\\": \\\"Input schema for Instagram hashtag scraper\\\",\\r\\n
        \   \\\"description\\\": \\\"Set up Instagram hashtag scraper to get posts
        from you hashtag search. <br/> Get data from Instagram profiles <br/> <strong>Important:
        This scraper doesn't extract emails or any other contact details!</strong>
        <br/>\\\",\\r\\n    \\\"type\\\": \\\"object\\\",\\r\\n    \\\"schemaVersion\\\":
        1,\\r\\n    \\\"properties\\\": {\\r\\n        \\\"hashtags\\\": {\\r\\n            \\\"title\\\":
        \\\"Hashtags\\\",\\r\\n            \\\"type\\\": \\\"array\\\",\\r\\n            \\\"description\\\":
        \\\"Provide a hashtag for your search, doesn't matter if you use the # symbol
        or not.\\\",\\r\\n            \\\"editor\\\": \\\"stringList\\\",\\r\\n            \\\"prefill\\\":
        [\\\"webscraping\\\"]\\r\\n        },\\r\\n        \\\"resultsLimit\\\": {\\r\\n
        \           \\\"title\\\": \\\"Maximum posts\\\",\\r\\n            \\\"type\\\":
        \\\"integer\\\",\\r\\n            \\\"description\\\": \\\"How many posts
        you want to maximally scrape from each hashtag. If you set this to 5, you
        will get 5 posts for each hashtag provided (if you provide 2 hastags you will
        get 10 results altogether.\\\",\\r\\n            \\\"editor\\\": \\\"number\\\",\\r\\n
        \           \\\"unit\\\": \\\"per page\\\",\\r\\n            \\\"prefill\\\":
        20\\r\\n        }\\r\\n    },\\r\\n    \\\"required\\\": [\\\"hashtags\\\"]\\r\\n}\",\n
        \           \"format\": \"TEXT\"\n          },\n          {\n            \"name\":
        \"README.md\",\n            \"content\": \"## Features\\r\\nOur free Instagram
        Hashtag Scraper allows you to scrape full Instagram post data based on hashtag
        searches.\\r\\n\\r\\n**This scraper doesn't extract emails or any other contact
        details!**\\r\\n\\r\\n## Why scrape Instagram hashtags?\\r\\nGetting live
        Instagram hashtag data ca[...]
