---
http_interactions:
- request:
    method: get
    uri: https://api.apify.com/v2/datasets/mUQjPuALPFYWxiv0q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      etag:
      - W/"49f8-l8iCohOUxqTZUGCXOPKQgJMbNLE"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "id": "mUQjPuALPFYWxiv0q",
            "userId": "qfdkwg3fXaNMdR5MM",
            "createdAt": "2023-01-30T12:11:31.760Z",
            "modifiedAt": "2023-01-30T12:16:19.854Z",
            "accessedAt": "2023-01-30T13:20:55.777Z",
            "itemCount": 100,
            "cleanItemCount": 100,
            "actId": "reGe1ST3OBgYZSsZJ",
            "actRunId": "sKSx9HD3VWVWZyvza",
            "schema": {
              "actorSpecification": 1,
              "title": "Instagram Hashtag Scraper",
              "description": "Too see all scraped properties, export the whole dataset or select All fields instead of Overview",
              "views": {
                "overview": {
                  "title": "Overview",
                  "description": "",
                  "transformation": {
                    "fields": [
                      "caption",
                      "ownerFullName",
                      "ownerUsername",
                      "url",
                      "commentsCount",
                      "firstComment",
                      "likesCount",
                      "timestamp",
                      "queryTag"
                    ]
                  },
                  "display": {
                    "component": "table",
                    "columns": [
                      {
                        "label": "Text",
                        "format": "text",
                        "field": "caption"
                      },
                      {
                        "label": "Post URL",
                        "format": "link",
                        "field": "url"
                      },
                      {
                        "label": "Number of comments",
                        "format": "text",
                        "field": "commentsCount"
                      },
                      {
                        "label": "First comment",
                        "format": "text",
                        "field": "firstComment"
                      },
                      {
                        "label": "Number of likes",
                        "format": "text",
                        "field": "likesCount"
                      },
                      {
                        "label": "Posted on",
                        "format": "text",
                        "field": "timestamp"
                      },
                      {
                        "label": "Author",
                        "format": "text",
                        "field": "ownerUsername"
                      }
                    ]
                  }
                }
              }
            },
            "stats": {
              "readCount": 550,
              "writeCount": 100,
              "storageBytes": 120035
            },
            "fields": [
              "hashtags/23",
              "mentions/21",
              "latestComments/4/timestamp",
              "childPosts/0/taggedUsers/2/username",
              "hashtags/22",
              "childPosts/4/firstComment",
              "childPosts/6/displayUrl",
              "childPosts/9/type",
              "childPosts/9/videoViewCount",
              "childPosts/5/taggedUsers/0/profile_pic_url",
              "taggedUsers/10/id",
          [...]
