---
http_interactions:
- request:
    method: get
    uri: https://api.apify.com/v2/datasets/mUQjPuALPFYWxiv0q/items?omit=taggedUsers%2C+childPosts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '30'
      x-apify-pagination-total:
      - '100'
      x-apify-pagination-offset:
      - '0'
      x-apify-pagination-count:
      - '100'
      x-apify-pagination-limit:
      - '999999999999'
      x-apify-pagination-desc:
      - 'false'
    body:
      encoding: UTF-8
      string: "[{\n  \"id\": \"3027118290362405993\",\n  \"type\": \"Image\",\n  \"shortCode\":
        \"CoCfAv2I5Rp\",\n  \"caption\": \"Sunday's Alpkit SofA: Sonder Winter Gravel
        Series in Bristol. There was a great turn out despite the drizzle and fog
        and the start went pretty smoothly. It wasn't long before people were hiking
        bikes through ankle deep mud and hills that were just too technical and slippery,
        even for the more advanced riders. The people I met were great and there was
        definitely some fun descents and potential trails for the warmer months. Unfortunately,
        just before the midway point, I decided to take the wrong line down a rocky
        boulder descent, came off and smacked my head. Annoyed that I lost my glasses,
        but the bike was okay! It was a fun half day when I look back on it, just
        wish I'd been able to finish. #coffee #mountainbike #mountainbiker #mountainbikes
        #mountainbiking #mtb #roadbike #roadcycling #cycling #roadbikes #gravelbike
        #gravelbikes #commuting #bikepackinglife #fromwhereiride #cyclinglife #bikepacking
        #biketouring #biketrip #biketour #adventurecycling #bristol #bristol247 #bestofbristol
        #bristollife #grizzlynotations #sonderbikes #alpkit #wintergravelseries\",\n
        \ \"hashtags\": [\n    \"coffee\",\n    \"mountainbike\",\n    \"mountainbiker\",\n
        \   \"mountainbikes\",\n    \"mountainbiking\",\n    \"mtb\",\n    \"roadbike\",\n
        \   \"roadcycling\",\n    \"cycling\",\n    \"roadbikes\",\n    \"gravelbike\",\n
        \   \"gravelbikes\",\n    \"commuting\",\n    \"bikepackinglife\",\n    \"fromwhereiride\",\n
        \   \"cyclinglife\",\n    \"bikepacking\",\n    \"biketouring\",\n    \"biketrip\",\n
        \   \"biketour\",\n    \"adventurecycling\",\n    \"bristol\",\n    \"bristol247\",\n
        \   \"bestofbristol\",\n    \"bristollife\",\n    \"grizzlynotations\",\n
        \   \"sonderbikes\",\n    \"alpkit\",\n    \"wintergravelseries\"\n  ],\n
        \ \"mentions\": [],\n  \"url\": \"https://www.instagram.com/p/CoCfAv2I5Rp/\",\n
        \ \"commentsCount\": 0,\n  \"firstComment\": \"\",\n  \"latestComments\":
        [],\n  \"dimensionsHeight\": 1080,\n  \"dimensionsWidth\": 1080,\n  \"displayUrl\":
        \"https://instagram.fccs9-1.fna.fbcdn.net/v/t51.2885-15/327545435_904429634157968_8729784598545577529_n.jpg?stp=dst-jpg_e35_s1080x1080&_nc_ht=instagram.fccs9-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=daSYGjRhiX0AX9WV3mC&edm=AABBvjUBAAAA&ccb=7-5&oh=00_AfAb-a9RFQ9Zjx-KrjdqBaAEkEaMAedI_ZcBDh_8aasoVg&oe=63DCCEDB&_nc_sid=83d603\",\n
        \ \"images\": [],\n  \"alt\": null,\n  \"likesCount\": 1,\n  \"timestamp\":
        \"2023-01-30T12:10:42.000Z\",\n  \"childPosts\": [],\n  \"locationName\":
        \"Bristol, United Kingdom\",\n  \"locationId\": \"213267431\",\n  \"ownerFullName\":
        \"Grizzly Notations\",\n  \"ownerUsername\": \"grizzlynotations\",\n  \"ownerId\":
        \"50783035730\",\n  \"isSponsored\": false,\n  \"fullName\": \"owner didnt
        open\"\n},\n{\n  \"id\": \"3027119166670315514\",\n  \"type\": \"Sidecar\",\n
        \ \"shortCode\": \"CoCfNf-KR_6\",\n  \"caption\": \"Vi knackade på hos Emily
        in Paris & gick sedan en Tour med guide runt om i Paris \U0001F1EB\U0001F1F7
        #love #emilyinparis #netflix #paris\",\n  \"hashtags\": [\n    \"love\",\n
        \   \"emilyinparis\",\n    \"netflix\",\n    \"paris\"\n  ],\n  \"mentions\":
        [],\n  \"url\": \"https://www.instagram.com/p/CoCfNf[...]
